@page "/trang-dau-tien/{thenumberloop:int?}"
@* @page là Chỉ thị để thiết lập trang Razỏ Page. *@
@model FirstPageModel

@* Mở rộng khối lệnh layout *@

@{
    ViewData["Title"] = "TRANG DAU TIEN";
}
<h1 style="color: green">@Model.title</h1>

<h2>@ViewData["mydata"]</h2>
<p>Learn Coding ASP.NET Core <strong>@System.DateTime.Now</strong></p>

@{
    // Những cấu trúc lệnh của C# ví dụ như, Vòng lặp for, lệnh if-else thì chúng ta có thể viết trực tiếp vào đây luôn. 
    var a = 2;
    int b = 3;

    var thenumberloopstring = this.Request.RouteValues["thenumberloop"]??"0";

    int thenumberloop = Int32.Parse(thenumberloopstring.ToString());

    <p>Square of a @a is @Math.Sqrt(a)</p>
}



<p>The sum of @a and @b is @(a+b)</p>

<p>The number of loop is @thenumberloop</p>

<ol>
    @for(int i=0; i<thenumberloop; i++){
        // chúng ta có thể viết ngay code C# vào đây hoặc có thể nhúng thẻ html vào:
        <li>Index @i</li>
    }
</ol>


<p>@Model.welcome("Nguyen Van A")</p>